In [1]:
# package imports
#basics
import numpy as np
import pandas as pd
import json
import csv
from google.cloud import storage
storage_client = storage.Client()


#misc
import gc
import time
import warnings


#viz
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
bucket = storage_client.bucket('msca-bdp-student-gcs')



def get_json(filename):
    '''
    this function will get the json object from
    google cloud storage bucket
    '''
    # get the blob
    filepath = 'group2/archive-3/'
    blob = bucket.get_blob(filepath+filename)
    # Download the blob as bytes
    file_data = blob.download_as_bytes()

    # Decode the bytes object into a string
    file_data_str = file_data.decode('utf-8')

    # Parse each line as a separate JSON object
    json_data = []
    for line in file_data_str.splitlines():
        json_object = json.loads(line)
        json_data.append(json_object)
    return json_data

test = get_json('yelp_academic_dataset_user.json')

In [ ]:
filenames = [ 'yelp_academic_dataset_review.json',
            'yelp_academic_dataset_user.json']

In [ ]:
type(test)

In [17]:
len(test)

908915

In [18]:
test_df = pd.DataFrame(test)

In [19]:
test_df.shape

(908915, 5)

In [21]:
# test_df.to_csv('gs://msca-bdp-student-gcs/group2/archive-3/yelp_academic_dataset_user.csv')

In [20]:
test_df.head(3)

,user_id,business_id,text,date,compliment_count
0,AGNUgVwnZUey3gcPCJ76iw,3uLgwr0qeCNMjKenHJwPGQ,Avengers time with the ladies.,2012-05-18 02:17:21,0
1,NBN4MgHP9D3cw--SnauTkA,QoezRbYQncpRqyrLH6Iqjg,They have lots of good deserts and tasty cuban...,2013-02-05 18:35:10,0
2,-copOvldyKh1qr-vzkDEvw,MYoRNLb5chwjQe3c_k37Gg,It's open even when you think it isn't,2013-08-18 00:56:08,0

True